@{
    ViewBag.Title = "Home Page";
}

<html>
<body>

    <h3>Nombres</h3><label>jeremy Josue</label>
    <h3> Apellidos</h3><label>Benavides Gomez</label>
    <br />
    <h3> codigo</h3><label>SMTS579418</label>
    <h3>materia</h3><label>Programacion 1</label>


</body>
</html>

